.owl-carousel {
	margin-top: 50px;
}

.carousel-link {
	padding: 130px 0px;
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 48px;
	text-align: center;
	
	font-family: 'Rock Salt', cursive;

}

.extream {
	background-image: url(/img/titan.jpg);
	background-repeat: no-repeat;
	background-position: -450px -250px;
}

.hard {
	background-image: url(/img/titan.jpg);
	background-repeat: no-repeat;
	background-position: -650px -450px;
}