body { 
  background: url(/img/titan.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footer {
	margin-top: 20px;
}

.panel {
	opacity: 0.9;
}

.progress-bar {
  -webkit-transition: width 0.2s ease;
          transition: width 0.2s ease;
}

#buttons {
	text-align: center;
	margin: 30px;
}

.direct-phase-buttons {
	margin-top: 30px;
}

div.item {
	padding: 30px 0px;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	opacity: 0.4;
	transition: 0.5s ease;
}

div.item-active {
	border-left: 4px solid white;
	opacity: 0.9;
}

div.landslide {
	background: #2A62D3;
	color: #FFF;
}

div.omomi {
	background: #FF8300;
	color: #FFF;
}

div.mountain {
	background: #BC2124;
	color: #FFF;
}

div.gekisin {
	background: #844600;
	color: #FFF;
}

div.daigekisin {
	background: #752677;
	color: #FFF;
}

div.jale {
	background: #28BA7D;
	color: #FFF;
}

div.bomb {
	background: grey;
	color: #FFF;
}

div.geocrush {
	background: black;
	color: #FFF;
}

div.minitako {
	background: #9E9300;
	color: #FFF;
}

p.display-eng {
	font-size: 18px;
	font-family: 'Rock Salt', cursive;
}

p.display-jpn {
	font-size: small;
}

#wrapVolumeControll {
	text-align: center;
}

#volumeControll {
	width: 300px;
}